.roboto-mono-h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.h1 {
  font-family: "Roboto Mono"
}

.h3 {
  font-family: "Roboto Mono"
}