@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

a {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

p {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

.inline-p {
    display:inline;
}

body {
    background-color: #282828;
}

h3 {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

.aboutme {
    float: left;
    padding-left: 10%;
}

.specs{
    box-align: right;
    padding-right: 10%
}

table {
    font-family: "Roboto Mono";
    color: #EBDBB2;
    text-align: left;
}

td {
    padding-left: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.