@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

a {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

p {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

body {
    background-color: #282828;
}

h3 {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

.contacts {
    float: left;
    padding-left: 10%;
}

.onair{
    float: right;
    padding-right: 10%
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}