@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


h2 {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

h3 {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

a {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

p {
    color: #EBDBB2;
    font-family: "Roboto Mono";
}

body {
    background-color: #282828;
}

table {
    font-family: "Roboto Mono";
    color: #EBDBB2;
    text-align: left;
}

td {
    padding-left: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left-side {
    float: left;
    padding-left: 10%;
    text-align: left;
}

.right-side {
    float: right;
    padding-right: 10%;
    text-align: left;
}

.clickable {
    cursor: pointer;
}

.centerNix {
    display: block;
    margin: auto;
    width: 50%;
}